In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("Car_sales.csv")
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [3]:
df.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
60,Honda,Passport,12.855,17.525,Car,26.600,3.2,205.0,106.4,70.4,178.2,3.857,21.1,19.0,10/9/2012,83.602501
72,Lexus,GS400,3.334,NaN,Passenger,46.305,4.0,300.0,110.2,70.9,189.2,3.693,19.8,21.0,11/28/2012,125.013357
44,Dodge,Durango,101.323,NaN,Car,26.310,5.2,230.0,115.7,71.7,193.5,4.394,25.0,17.0,6/27/2012,92.854125
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,3/23/2012,85.828408
30,Chrysler,Concorde,31.148,13.725,Passenger,22.245,2.7,200.0,113.0,74.4,209.1,3.452,17.0,26.0,6/6/2012,80.023782
19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347
61,Honda,Odyssey,76.029,19.490,Car,26.000,3.5,210.0,118.1,75.6,201.2,4.288,20.0,23.0,2/8/2012,85.217691
133,Saturn,LS,49.989,NaN,Passenger,15.010,2.2,137.0,106.5,69.0,190.4,2.910,13.1,28.0,12/4/2012,54.819728
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
100,Mercedes-B,M-Class,28.976,NaN,Car,35.300,3.2,215.0,111.0,72.2,180.6,4.387,19.0,20.0,2/10/2011,90.495532

### drop na

In [4]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    object
 15  Power_perf_factor    117 non-null    float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

In [5]:
df.isnull().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

### checking the  contents in latest lauch column

In [6]:
df.Latest_Launch.unique()

array(['2/2/2012', '6/3/2011', '3/10/2011', '10/8/2011', '8/9/2011',
       '2/27/2012', '1/29/2012', '4/4/2011', '11/2/2011', '9/3/2011',
       '3/23/2012', '7/23/2011', '2/23/2012', '11/27/2011', '9/28/2011',
       '8/17/2011', '3/19/2012', '5/24/2011', '12/22/2011', '10/23/2011',
       '5/12/2012', '9/11/2011', '4/13/2012', '1/16/2012', '11/17/2011',
       '6/6/2012', '10/6/2011', '5/8/2012', '12/12/2011', '7/1/2012',
       '10/31/2011', '8/7/2011', '3/6/2012', '1/6/2012', '7/26/2012',
       '11/25/2011', '9/1/2011', '3/31/2012', '1/31/2012', '8/20/2012',
       '12/20/2011', '9/26/2011', '4/25/2012', '2/25/2012', '9/14/2012',
       '1/14/2012', '8/16/2012', '10/21/2011', '5/20/2012', '3/21/2012',
       '10/9/2012', '2/8/2012', '9/10/2012', '11/15/2011', '6/14/2012',
       '4/15/2012', '3/4/2012', '10/5/2012', '12/10/2011', '7/9/2012',
       '5/10/2012', '3/29/2012', '8/3/2012', '6/4/2012', '4/23/2012',
       '11/24/2012', '8/28/2012', '6/29/2012', '1/17/2012', '5/18/2012',
       '12/19/2012', '9/22/2012', '7/24/2012', '2/13/2008', '10/20/2009',
       '4/24/2011', '7/12/2011', '6/13/2011', '3/17/2011', '8/31/2011',
       '8/2/2011', '5/6/2011', '3/7/2011', '9/25/2011', '5/31/2011',
       '2/18/2011', '9/21/2011', '6/25/2011', '4/26/2011', '11/14/2011',
       '1/25/2012', '11/26/2012', '6/16/2012', '10/15/2012', '5/18/2011',
       '2/19/2012', '12/21/2012', '7/11/2011', '3/16/2011', '1/15/2011',
       '4/11/2011', '2/10/2011', '12/29/2012', '8/1/2011', '1/24/2011',
       '8/27/2011', '10/30/2012', '4/1/2011'], dtype=object)

### change list dtype into datetime

In [7]:
df["Latest_Launch"]=pd.to_datetime(df.Latest_Launch)
df.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 15.5+ KB

### extracting year ,month, date from the latest_launch column

In [9]:
df["year"]=pd.DatetimeIndex(df.Latest_Launch).year

In [10]:
df["month"]=pd.DatetimeIndex(df.Latest_Launch).month

In [11]:
df["day"]=pd.DatetimeIndex(df.Latest_Launch).day

In [12]:
df.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105,2011,8,9
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858,2012,2,27
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069,2012,1,29
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724,2011,4,4
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451,2011,11,2
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703,2011,9,3

### lets convert  the data type of fuel effciency into integer

In [13]:
df.Fuel_efficiency=df.Fuel_efficiency.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int32
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    int64
 18  day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int32(1), int64(3), object(3)
memory usage: 17.8+ KB

### converting the nummerical column into categorical column

In [14]:
df.month.replace({
    1:"jan",
    2:"feb",
    3:"mar",
    4:"apr",
    5:"may",
    6:"june",
    7:"july",
    8:"aug",
    9:"sep",
    10:"oct",
    11:"nov",
    12:"dec"
    
    
},inplace=True)

In [15]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,feb,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,2011,june,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,mar,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,2011,oct,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22,2011-08-09,84.565105,2011,aug,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,jan,24
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,aug,27
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,oct,30
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26,2011-05-31,48.907372,2011,may,31
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26,2011-04-01,47.946841,2011,apr,1

### lebel encoder

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le=LabelEncoder()

In [19]:
df["le_Vehicle"]=le.fit_transform(df.Vehicle_type)

In [20]:
df.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,le_Vehicle
68,Jeep,Cherokee,80.556,13.775,Car,21.620,4.0,190.0,101.4,69.4,167.5,3.194,20.0,20,2012-10-05,76.584440,2012,oct,5,0
36,Dodge,Avenger,4.734,12.545,Passenger,19.045,2.5,163.0,103.7,69.1,190.2,2.879,15.9,24,2012-07-01,65.650508,2012,july,1,1
94,Mercedes-B,S-Class,16.774,50.375,Passenger,69.700,4.3,275.0,121.5,73.1,203.1,4.133,23.2,21,2011-06-13,125.273876,2011,june,13,1
29,Chrysler,Sebring Conv.,32.775,14.180,Passenger,24.495,2.5,168.0,106.0,69.2,193.0,3.332,16.0,24,2011-11-17,69.521355,2011,nov,17,1
77,Lincoln,Town car,48.911,21.725,Passenger,43.330,4.6,215.0,117.7,78.2,215.3,4.121,19.0,21,2012-06-04,93.957917,2012,june,4,1
105,Nissan,Pathfinder,42.574,17.810,Car,29.299,3.3,170.0,106.3,71.7,182.6,3.947,21.0,19,2011-09-25,72.290355,2011,sep,25,0
82,Mitsubishi,Diamante,5.711,16.575,Passenger,24.997,3.5,210.0,107.1,70.3,194.1,3.443,19.0,22,2012-08-28,84.830779,2012,aug,28,1
136,Toyota,Corolla,142.535,10.025,Passenger,13.108,1.8,120.0,97.0,66.7,174.0,2.420,13.2,33,2011-04-11,47.968972,2011,apr,11,1
13,Buick,LeSabre,83.257,13.360,Passenger,27.885,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25,2011-07-23,84.254526,2011,july,23,1
45,Dodge,Caravan,181.749,12.025,Car,19.565,2.4,150.0,113.3,76.8,186.3,3.533,20.0,24,2011-09-01,61.227000,2011,sep,1,0

In [23]:
df["le_Model"]=le.fit_transform(df.Model)
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,le_Vehicle,le_Model
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,...,2.639,13.2,28,2012-02-02,58.280150,2012,feb,2,1,62
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,...,3.517,17.2,25,2011-06-03,91.370778,2011,june,3,1,107
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,...,3.850,18.0,22,2011-03-10,91.389779,2011,mar,10,1,88
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,...,2.998,16.4,27,2011-10-08,62.777639,2011,oct,8,1,4
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,...,3.561,18.5,22,2011-08-09,84.565105,2011,aug,9,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,...,2.767,14.5,26,2011-01-24,46.943877,2011,jan,24,1,56
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,...,2.853,14.5,26,2011-08-27,47.638237,2011,aug,27,1,63
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,...,3.043,16.4,27,2012-10-30,61.701381,2012,oct,30,1,82
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,...,3.079,13.7,26,2011-05-31,48.907372,2011,may,31,1,19
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,...,2.762,14.6,26,2011-04-01,47.946841,2011,apr,1,1,54