In [1]:
import pandas as pd
import numpy as  np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("covid19.csv")
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [4]:
df.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [5]:
df['Province/State'].dropna(inplace=True)

In [6]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [8]:
df.isnull().mean()*100

Province/State    70.114943
Country/Region     0.000000
Lat                0.000000
Long               0.000000
Date               0.000000
Confirmed          0.000000
Deaths             0.000000
Recovered          0.000000
Active             0.000000
WHO Region         0.000000
dtype: float64

### state coloumn droping

In [9]:
df.drop(['Province/State'],axis=1,inplace=True)

In [10]:
df.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [11]:
df

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [12]:
df.columns

Index(['Country/Region', 'Lat', 'Long', 'Date', 'Confirmed', 'Deaths',
       'Recovered', 'Active', 'WHO Region'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  49068 non-null  object
 1   Lat             49068 non-null  float64
 2   Long            49068 non-null  float64
 3   Date            49068 non-null  object
 4   Confirmed       49068 non-null  int64
 5   Deaths          49068 non-null  int64
 6   Recovered       49068 non-null  int64
 7   Active          49068 non-null  int64
 8   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(3)
memory usage: 3.4+ MB

In [14]:
df.drop(columns=['Lat','Long'],inplace=True)

In [15]:
df.head()

,Country/Region,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,2020-01-22,0,0,0,0,Europe
2,Algeria,2020-01-22,0,0,0,0,Africa
3,Andorra,2020-01-22,0,0,0,0,Europe
4,Angola,2020-01-22,0,0,0,0,Africa

 ###  renaming coloumn

In [16]:
df.columns

Index(['Country/Region', 'Date', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'WHO Region'],
      dtype='object')

In [17]:
df.rename(columns={'Country/Region':"Region",'WHO Region':"WHO_Region"},inplace=True)
df

,Region,Date,Confirmed,Deaths,Recovered,Active,WHO_Region
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,2020-01-22,0,0,0,0,Europe
2,Algeria,2020-01-22,0,0,0,0,Africa
3,Andorra,2020-01-22,0,0,0,0,Europe
4,Angola,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,2020-07-27,505,12,128,365,Africa

In [18]:
df['year']=pd.DatetimeIndex(df.Date).year
df['month']=pd.DatetimeIndex(df.Date).month
df['day']=pd.DatetimeIndex(df.Date).day

In [19]:
df

,Region,Date,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,2020-01-22,0,0,0,0,Europe,2020,1,22
2,Algeria,2020-01-22,0,0,0,0,Africa,2020,1,22
3,Andorra,2020-01-22,0,0,0,0,Europe,2020,1,22
4,Angola,2020-01-22,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa,2020,7,27
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,2020-07-27,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,2020-07-27,505,12,128,365,Africa,2020,7,27

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      49068 non-null  object
 1   Date        49068 non-null  object
 2   Confirmed   49068 non-null  int64
 3   Deaths      49068 non-null  int64
 4   Recovered   49068 non-null  int64
 5   Active      49068 non-null  int64
 6   WHO_Region  49068 non-null  object
 7   year        49068 non-null  int64
 8   month       49068 non-null  int64
 9   day         49068 non-null  int64
dtypes: int64(7), object(3)
memory usage: 3.7+ MB

In [21]:
df.drop(columns="Date" ,inplace=True)

In [22]:
df

,Region,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,0,0,0,0,Europe,2020,1,22
2,Algeria,0,0,0,0,Africa,2020,1,22
3,Andorra,0,0,0,0,Europe,2020,1,22
4,Angola,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,865,14,734,117,Africa,2020,7,27
49064,Yemen,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,505,12,128,365,Africa,2020,7,27

In [23]:
df['Region']=df['Region'].astype("object")
df

,Region,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,0,0,0,0,Europe,2020,1,22
2,Algeria,0,0,0,0,Africa,2020,1,22
3,Andorra,0,0,0,0,Europe,2020,1,22
4,Angola,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,865,14,734,117,Africa,2020,7,27
49064,Yemen,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,505,12,128,365,Africa,2020,7,27

In [24]:
df['WHO_Region']=df['WHO_Region'].astype("string")
df

,Region,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,0,0,0,0,Europe,2020,1,22
2,Algeria,0,0,0,0,Africa,2020,1,22
3,Andorra,0,0,0,0,Europe,2020,1,22
4,Angola,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,865,14,734,117,Africa,2020,7,27
49064,Yemen,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,505,12,128,365,Africa,2020,7,27

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      49068 non-null  object
 1   Confirmed   49068 non-null  int64
 2   Deaths      49068 non-null  int64
 3   Recovered   49068 non-null  int64
 4   Active      49068 non-null  int64
 5   WHO_Region  49068 non-null  string
 6   year        49068 non-null  int64
 7   month       49068 non-null  int64
 8   day         49068 non-null  int64
dtypes: int64(7), object(1), string(1)
memory usage: 3.4+ MB

###  which country has the highest death rate

In [26]:
df['Deaths'].sum()

43384903

In [27]:
df["Region"][df['Deaths']==df['Deaths'].max()]

49030    US
Name: Region, dtype: object

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      49068 non-null  object
 1   Confirmed   49068 non-null  int64
 2   Deaths      49068 non-null  int64
 3   Recovered   49068 non-null  int64
 4   Active      49068 non-null  int64
 5   WHO_Region  49068 non-null  string
 6   year        49068 non-null  int64
 7   month       49068 non-null  int64
 8   day         49068 non-null  int64
dtypes: int64(7), object(1), string(1)
memory usage: 3.4+ MB

### which year has the highest death rate

In [29]:
df["year"][df['Deaths']==df['Deaths'].max()]

49030    2020
Name: year, dtype: int64

### which year has the highest recoverd  rate

In [30]:
df["year"][df['Recovered']==df['Recovered'].max()]

48835    2020
Name: year, dtype: int64

###  total death rates in africa

In [31]:
df['Deaths'] [df['WHO_Region'] == "Africa"].sum()

439978

In [32]:
df['Deaths'][df['Region']=='India'].sum()

1111831

###  total covid +ve patients in the world

In [33]:
df['Active'].sum()

396715350

In [34]:
df["Active"][df['Region']=='India'].sum()

15987913

### % of total death rates

In [35]:
df['Deaths'].describe()

count     49068.000000
mean        884.179160
std        6313.584411
min           0.000000
25%           0.000000
50%           2.000000
75%          30.000000
max      148011.000000
Name: Deaths, dtype: float64

In [36]:
df['Deaths']/df['Deaths'].sum()*100

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
49063    0.000032
49064    0.001113
49065    0.000016
49066    0.000138
49067    0.000028
Name: Deaths, Length: 49068, dtype: float64

### deaths ,recovered ,active in march 22   in india

In [37]:
df.query('Region=="India" & month==3 & day==22 ').groupby(by=["Deaths","Recovered","Active"]).sum()

                         Confirmed  year  month  day
Deaths Recovered Active
7      27        362           396  2020      3   22

###   changing month

In [38]:
df.month.replace({
    1:"jan",
    2:"feb",
    3:"mar",
    4:"apr",
    5:"may",
    6:"june",
    7:"july",
    8:"aug",
    9:"sep",
    10:"oct",
    11:"nov",
    12:"dec"
    
    
},inplace=True)

In [39]:
df

,Region,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,0,0,0,0,Eastern Mediterranean,2020,jan,22
1,Albania,0,0,0,0,Europe,2020,jan,22
2,Algeria,0,0,0,0,Africa,2020,jan,22
3,Andorra,0,0,0,0,Europe,2020,jan,22
4,Angola,0,0,0,0,Africa,2020,jan,22
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,865,14,734,117,Africa,2020,july,27
49064,Yemen,1691,483,833,375,Eastern Mediterranean,2020,july,27
49065,Comoros,354,7,328,19,Africa,2020,july,27
49066,Tajikistan,7235,60,6028,1147,Europe,2020,july,27
49067,Lesotho,505,12,128,365,Africa,2020,july,27

In [40]:
df

,Region,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,0,0,0,0,Eastern Mediterranean,2020,jan,22
1,Albania,0,0,0,0,Europe,2020,jan,22
2,Algeria,0,0,0,0,Africa,2020,jan,22
3,Andorra,0,0,0,0,Europe,2020,jan,22
4,Angola,0,0,0,0,Africa,2020,jan,22
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,865,14,734,117,Africa,2020,july,27
49064,Yemen,1691,483,833,375,Eastern Mediterranean,2020,july,27
49065,Comoros,354,7,328,19,Africa,2020,july,27
49066,Tajikistan,7235,60,6028,1147,Europe,2020,july,27
49067,Lesotho,505,12,128,365,Africa,2020,july,27